.hero {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

.hero * {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

#container {
  width: 360px;
  margin: auto;
  border: 1px solid purple;
}
#profile{
  text-align: center;
}

#profile img {
  display: block;
  width: 112px;
  margin: auto;
}

#profile p{
  font-weight: 500;
  line-height: 24px;
}
