* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text-color: white;
  --bg-url: url(./assets/bg-desktop.jpg);
  --stroke-color: rgba(255, 255, 255, 0.4);
  --surface-color: rgba(255,255,255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255,255,255,0.2);
  --switch-bg-url: url(./assets/moon-stars.svg)
}

.light{
  --text-color: black;
  --bg-url: url(./assets/bg-desktop-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.2);
  --surface-color: rgba(0, 0, 0, 0.08);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0,0,0,0.1);
  --switch-bg-url: url(./assets/sun.svg)
}
.hero {
  background: var(--bg-url) no-repeat top center/cover;
}

.hero * {
  font-family: "Inter", sans-serif;
  color: var(--text-color)
}

#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
#profile {
  text-align: center;
  padding: 28px;
}

#profile img {
  display: block;
  width: 112px;
  margin: auto;
}

#profile p {
  padding: 12px;
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  margin-top: 12px;
}

#switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

}

/* links */

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 22px;
  border: 1px solid var(--stroke-color);
  background: var(--surface-color);

  padding: 16px 24px;

  text-decoration: none;
  font-weight: 500;

  transition: background 0.3s;
}
/* Esse hover, dentro do CSS é responsável quando eu passar o mouse em cima*/
ul li a:hover {
  border: 1.5px solid var(--text-color);
  background: var(--surface-color-hover);
}

#social-links {
  display: flex;
  gap: 25px;
  padding: 8px 0px;
  font-size: 28px;

  justify-content: center;
}

#social-links a{
  display: flex;
  align-items: center;
  justify-content: center;

  transition: padding 0.2s;
}

#social-links a:hover{
  background: var(--highlight-color);
  padding: 8px;
  border-radius: 50%;
}

.hero footer{
  display: flex;
  padding: 5px;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
}

